<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/bimba.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f3d0c4e8f7.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body background="/images/5431367.jpg">
    <div class="d-flex">
        <div id="sidebar" class="sidebar bg-primary bg-opacity-75 justify-content-center sticky-top top-0">
            <div class="d-flex flex-wrap justify-content-center">
                <div class="mb-3" style="font-size: x-large;">
                    <a href="" class=" list-group-item"><i class="fas fa-university"></i> Masukan Logo</a>
                </div>
            </div>
            <p class="ms-3 mb-0" style="color: aliceblue;">Main Menu</p>

            <div class="container list-group d-flex justify-content-center m-auto" style="width: 78%;">
                <a href="/" class="list-group-item"><i class="fas fa-home pe-3"></i>Beranda</a>
                <div class="dropend">
                    <a type="button" data-bs-toggle="dropdown" class="list-group-item"
                        aria-expanded="false"><i class="fas fa-user-graduate pe-3"></i>Data Siswa</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Kelas 1</a></li>
                        <li><a class="dropdown-item" href="#">Kelas 2</a></li>
                        <li><a class="dropdown-item" href="#">Kelas 3</a></li>
                    </ul>
                </div>
                <a href="" class="list-group-item"><i class="fas fa-wallet pe-3"></i>Iuran Siswa</a>
                <a href="" class="list-group-item"><i class="fas fa-book-reader pe-3"></i></i>Hasil Nilai</a>
            </div>
        </div>

        <nav id="navbar" class="navbar navbar-dark bg-dark sticky-top w-100">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">masukanLogo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="nav nav-pills " role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Beranda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/datasiswa">Data Siswa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Iuran Siswa</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Dropdown link
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--##################################################################################################################################  -->
        <div class="container bg-dark bg-opacity-50">
            <div class="navbar  rounded-3" style="height: 50px;">
                <nav class="nav ">
                    <div class="">
                       
                    </div>
                </nav>
            </div>
            <div class="row d-flex flex-wrap ">
                <div class="col-md-3 text-light ">
                    <h3>Profil <span th:text="${bio.name}"></span></h3>
                    <img th:src="'data:image/jpeg;base64,' + ${photoBase64}" alt="Photo" style="width: 250px;"/>
                     <div class="list-group w-75 mt-4">
                        <a href="" class="list-group-item"><i class="fas fa-wallet pe-3"></i>Iuran Siswa</a>
                        <a href="" class="list-group-item"><i class="fas fa-book-reader pe-3"></i></i>Hasil Nilai</a>
                    </div>
                </div>
                <div class="col-md-4 bg-secondary rounded-3 bg-opacity-75">
                    <div class="mt-3 pb-3">
                        <strong class="text-light">NIK :</strong>
                        <p class="border ps-2 rounded bg-light"><span class="ps-2" th:text="${bio.nik}"></span></p>
                        <strong class="text-light">Tempat/Tanggal Lahir :</strong>
                        <p class="border ps-2 rounded bg-light"><span class="ps-2" th:text="${bio.birthday}"></span></p>
                        <strong class="text-light">Alamat :</strong>
                        <p class="border ps-2 rounded bg-light"><span class="ps-2" th:text="${bio.address}"></span></p>
                        <strong class="text-light">Golongan darah :</strong>
                        <p class="border ps-2 rounded bg-light"><span class="ps-2" th:text="${bio.golonganDarah}"></span></p>
                        <strong class="text-light">Agama :</strong>
                        <p class="border ps-2 rounded bg-light"><span class="ps-2" th:text="${bio.agama}"></span></p>
                        <strong class="text-light">Anak ke :</strong>
                        <p class="border ps-2 rounded bg-light"><span class="ps-2" th:text="${bio.anakKe}"></span></p>
                        <br>
                        <a href="/#" class="btn btn-success">Kembali ke Daftar Siswa</a>
                        <a href="/#" class="btn btn-primary justify-content-end">Update</a>
                    </div>
                </div>
                <div class="col-md-4 bg-primary rounded-3 me-2 bg-opacity-50 ms-5 ">
                    <h5 class="text-light">Data Wali Murid</h5>
                    <strong class="text-light">Nama Ayah :</strong>
                    <p class="border ps-2 rounded bg-light" th:text="${bio.waliMurid.namaAyah}"></p>
                    <strong class="text-light">Tempat/Tanggal lahir :</strong>
                    <p class="border ps-2 rounded bg-light" th:text="${bio.waliMurid.birthdayAyah}">bjk</p>
                    <strong class="text-light">Pekerjaan :</strong>
                    <p class="border ps-2 rounded bg-light" th:text="${bio.waliMurid.pekerjaanAyah}">bjk</p>
                    <strong class="text-light">Gaji</strong>
                    <p class="border ps-2 rounded bg-light" th:text="${bio.waliMurid.gajiAyah}">bjk</p>
                    <strong class="text-light">Nama Ibu :</strong>
                    <p class="border ps-2 rounded bg-light" th:text="${bio.waliMurid.namaIbu}">bjk</p>
                    <strong class="text-light">Tempat/Tanggal lahir :</strong>
                    <p class="border ps-2 rounded bg-light" th:text="${bio.waliMurid.birthdayIbu}">bjk</p>
                    <strong class="text-light">Pekerjaan :</strong>
                    <p class="border ps-2 rounded bg-light" th:text="${bio.waliMurid.pekerjaanIbu}"></p>
                    <strong class="text-light">Gaji</strong>
                    <p class="border ps-2 rounded bg-light" th:text="${bio.waliMurid.gajiIbu}"></p>
                </div>
            </div>
        </div>
    </div>



    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="/js/bimba.js"></script>
</body>

</html>