<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/bimba.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header class="potition-absolute sticky-top">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="nav nav-pills " role="tablist">
                        <li class="nav-item ">
                            <a class="nav-link" data-bs-toggle="pill" aria-current="page" href="#">Beranda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " data-bs-toggle="pill" href="#">Data Siswa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="pill" href="#">Iuran Siswa</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Dropdown link
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <a class="px-2" href="register">
                    <button type="button" class="btn btn-primary">Register</button>
                </a>

                <a class="px-2" href="#">
                    <button type="button" class="btn btn-primary">Login</button>
                </a>

            </div>
        </nav>
    </header>

    <div class=" d-flex potition-relative">
        <div class="sidebar bg-primary bg-opacity-75">
            <div class="text-center rounded bg-light m-3 mt-0">
                <h5>Daftar Kelas</h5>
                <a class="list-group-item list-group-item-action" href="#">Item 1</a>
                <a class="list-group-item list-group-item-action" href="#">Item 2</a>
                <a class="list-group-item list-group-item-action" href="#">Item 3</a>
                <a class="list-group-item list-group-item-action" href="#">Item 4</a>
          
            </div>
        </div>

        <div class="container mt-3 bg-secondary bg-opacity-10 rounded col-9">
            <form class="d-flex pt-3 mb-2" action="" method="get">
                <input class="form-control me-2 w-25" type="text" placeholder="Search">
                <button class="btn btn-primary" type="button">Search</button>
            </form>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="table-primary">
                        <tr class="text-center">
                            <th class="col-1">No</th>
                            <th class="col-3">Nama Siswa</th>
                            <th class="col-2">Tanggal Lahir</th>
                            <th>Alamat</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">no</td>
                            <td>nama siswa</td>
                            <td class="text-center">tanggal lahir</td>
                            <td>Alamat</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="/js/bimba.js"></script>
</body>

</html>